//
@use 'bootstrap';
@import "node_modules/font-awesome/scss/font-awesome.scss";
a {
    color: unset;
    text-decoration: none;
}

header {
    #top_header {
        text-transform: uppercase;
        font-size: 0.8rem;
    }
    ul {
        li {
            a {
                text-transform: uppercase;
            }
        }
    }
}