.thumb_block {
  height: 80px;
  background-color: #0282F9;
}
.thumb_block .thumb img {
  margin-top: -15rem;
}

.comic h2,
.comic h4,
.comic .key {
  color: #003F5E;
}
.comic .advertisement h5,
.comic .price .values,
.comic .sale_date .values {
  color: #555555;
}
.comic .comic_top .info {
  border-bottom: 2px solid #357739;
  color: white;
  background-color: #55BA59;
}
.comic .comic_top .info .light {
  color: #B0FD9C;
}
.comic .comic_top .info .price {
  padding-left: 1rem;
}
.comic .comic_top .info .availability div:first-child {
  padding-right: 1rem;
}
.comic .comic_top .info button {
  padding: 1rem;
  background-color: transparent;
  border: none;
  border-left: 2px solid #357739;
  color: white;
}
.comic .comic_bottom {
  background-color: #F6F6F6;
  font-weight: 500;
  padding-bottom: 5rem;
}
.comic .comic_bottom h4,
.comic .comic_bottom .artists,
.comic .comic_bottom .writers,
.comic .comic_bottom .series,
.comic .comic_bottom .price,
.comic .comic_bottom .sale_date {
  border-bottom: 1px solid #E3E3E3;
}
.comic .comic_bottom h4 {
  margin: 0;
  padding: 1rem 0;
}
.comic .comic_bottom .artists,
.comic .comic_bottom .writers,
.comic .comic_bottom .series,
.comic .comic_bottom .price,
.comic .comic_bottom .sale_date {
  padding: 0.5rem 0;
}
.comic .comic_bottom .key {
  width: 150px;
}
.comic .comic_bottom .values {
  width: calc(100% - 150px);
}
.comic .comic_bottom .artists > .values,
.comic .comic_bottom .writers > .values,
.comic .comic_bottom .series > .values {
  color: #00BAE6;
  line-height: 1rem;
}

.banner {
  border-top: 1px solid #E3E3E3;
  background-color: #F6F6F6;
  color: #9F9F9F;
  /* D8D8D8; */
  font-size: 0.9rem;
}
.banner .row {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  border-right: 1px solid #E3E3E3;
}
.banner .row .col .wrapper {
  width: 100%;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  border-left: 1px solid #E3E3E3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  transition: all 250ms linear;
  cursor: pointer;
}
.banner .row .col .wrapper:hover {
  transform: translate(0, -10px);
}
.banner .row .col .wrapper img {
  height: 40px;
  order: 0;
  filter: brightness(0.8);
}
.banner .row .col .wrapper .text {
  text-transform: uppercase;
  font-weight: bold;
}